# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Environment variables
.env.local
.env.production

# Mac system files
.DS_Store

# Logs
*.log

# Node modules (if frontend later uses npm)
node_modules/

# IDE files
.vscode/
.idea/
